#header-menu {
  background-image: url("../img/burger-chips.jpg");
}

.navbar {
  margin-bottom: 2em;
}

ul {
  background-color: #e6dcb4;
  height: 90%;
  width: 55%;
  margin: auto;
  text-align: center;
}

.trailing {
  background-image: url("../img/drinks-bar.jpg");
}

h1 {
  color: #bb671c;
  margin-top: 0;
}
